@page "/"

<PageTitle>Ślub J & D</PageTitle>

<div class="container-fluid mb-5 bg-dark">
    <div class="row">
        <div class="col-12 p-0 img-content">
            <img src="Images/jeremy-wong-weddings-464ps_nOflw-unsplash5.jpg" class="img-fluid opacity-50"  alt="imgaged" />
            <div class="img-content-top">
                <p class="fs-1 text-light m-0">Joanna i Dawid</p>
                <p class="fs-2 text-light">pobierają się!</p>
            </div>

            <div class="img-content-bottom">
                <p class="fs-2 m-0">14 sierpnia 2023</p>
                <p class="fs-2">w Koninie</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="mb-5" id="heart"></div>
        <h2 id="headline" class="timer-headline pt-2 pb-2 m-0 text-center">WIELKI DZIEŃ ZA</h2>
        <div id="countdown" class="timer-countdown text-center">
            <ul>
                <li class="timer-li"><span id="days"></span>Dni</li>
                <li class="timer-li"><span id="hours"></span>Godzin</li>
                <li class="timer-li"><span id="minutes"></span>Minut</li>
                <li class="timer-li"><span id="seconds"></span>Sekund</li>
            </ul>
    </div>
</div>